@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
    body{
        margin: 0;
        padding: 0;
        background: #fff;
        font-family: 'Ropa Sans', 'Arial Narrow', Arial, sans-serif;
        color: #444;
        animation:back .3s infinite;
        background-color: rgb(0,0,0);
        overflow: hidden;
        background-image: url(files/anime_background.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    section {
        height: 100vh;
        background: #000;
    }
    .main{
        z-index: 5;
        text-align: center;
    }
    .site{
        font-size: 1rem;
        letter-spacing: .3em;
        margin-bottom: 3em;
        color: rgb(255,255,255);
    }
    .name{
        font-size: 1.75rem;
        letter-spacing: .3em;
        margin-top: 25vh;
        margin-bottom: .75em;
        color: rgb(255,255,255);
    }
    a {
        text-decoration: none;
        display: inline-block;
        padding: 5px 5px;
        letter-spacing: 1px;
        margin: 0 20px;
        font-family: 'Ropa Sans', 'Arial Narrow', Arial, sans-serif;
        background-image: linear-gradient(#111 50%, #111 50%), linear-gradient(silver 50%, silver 50%);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 0 1px, 100% 1px;
        color: rgb(255,255,255);
        padding-bottom: 3px;
        transition: .3s ease-in-out;
        letter-spacing: .2em;
        font-size: .875rem;
    }
    
    a:hover {
        background-size: 100% 1px, 100% 1px;
        color: rgb(192,192,192);
    }
    .a{
        display: inline-block;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 790px;
        margin: 4rem auto;
    }
    .block{
        padding: 0px;
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid silver;
        
        border-bottom: none;
        margin: 10px 10px;
        height: 180px;
    }
    .name-link{
        margin-top: 1em;
    }
    .st0{
        fill:#444;
        stroke:silver;
        stroke-miterlimit:10;
        fill-opacity: 0;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        
        animation-name: DrawLine;
        animation-duration: 4s, 1s, 1s;
        animation-delay: 0s, 3.5s, 3.5s;
        stroke-dashArray: 1100;
        stroke-dashoffset: 0;
        transition: .2s ease-in-out;
    }
    @keyframes DrawLine {
        from { stroke-dashOffset: 1100; }
        to { stroke-dashOffset: 0; }
    }
    a:hover .st0{stroke:rgba(255, 255, 255, 0); fill-opacity: 1;}

    @media screen and (max-width:540px) {
        .a{
            display: block;
            margin-bottom: 4px;
        }
        .block{
            width: 100%;
        }
    }
